body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlights{
    color: orange;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img{
    width: 100%;
}

.top-part{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 5px;
}

.second-part{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
   background-position: right;
}
.single-part{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    border-radius: 10px;
}
.exprience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exp{
    font-size: 30px;
    margin-left: 10px;
}
#single{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#single-two{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.last{
    text-align: center;
}